*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: Helvetica, Arial, sans-serif ;
    --ff-secondary: Trebuchet, Georgia, Garamond ;

    --fw-reg:300;
    --fw-bold:900;

    --clr-bg: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,25);
}

@media (min-width:800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
    
}

/*Main style for the pages*/
body{
    background: var(--clr-bg);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 30%;
}
strong{ font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/*Button*/
.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--ff-primary);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition:transform 200ms ease-in-out;
}
.btn:hover{
    transform: scale(1.0);
    color: yellow;
}

/*Typing*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--fs-h1) }
h2{ font-size: var(--fs-h2) }
h3{ font-size: var(--fs-h3) }

.section__title {
margin: .25em;

}
.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__subtitle--intro strong {
    display: block;
}
.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*Header*/
header,nav,ul,li{
    display: flex;
    justify-content: center;
    padding: 3mm;
}
.nav{
    position:relative;
    list-style: none;
    background-color: var(--clr-dark);
}
.nav__link{
    color: var(--clr-accent);
}
.nav__link:hover{
    opacity: .7;
    transform: scale(1.1);
}
.logo{
    max-width: 100px;
}

/*Intro*/
.intro {
    position: relative;
}
.intro__img{box-shadow: var(--bs);}


@media (min-wdth: 600px) {
    .intro{
        display: grid;
        margin: 0 auto;
        grid-column-gap:1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100%+1.5em);
    }
}

/*My work*/
.my-work{
    background-color: rgb(65, 63, 63);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--ff-secondary);
    text-align: center;
}

.section__title--work{
    color: var(--clr-accent);
    position: relative;
}
.section__title--work::after{
    content:'';
    display: block;
    width:25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.45;
}
@media (min-width:800px) {
    .works{
     display: flex;
     max-width: 1000px;
     margin: 0 auto;
    }

    .work * .work{
        margin-left: 2em;
    }
}
.works,h3,p{
    font-weight: bold;
    font-size: large;
    color: #fff;
}

.about-me{
    max-width: 100%;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}
.about-me__body p{
    color: black;
    font-weight: bold;
}

@media (min-width:600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
         "title img"
         "text img";
         grid-column-gap:2em;
    }
    .section__title-about{
        grid-area:title;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
   .about-me__img{
       grid-row: 1/-1;
       grid-column: 2;
       max-width: 100%;
       z-index: 2;
   }
  

}

.my-projects{
    background-color: var(--clr-dark);
    color: var(--clr-bg);
    text-align: center;
}
.section__subtitle-projects{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
}
.portfolio__item{
    background-color: var(--clr-dark);
    overflow: hidden;
}
.portfolio__img{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .75;
}
.portfolio__text{
    color: var(--clr-accent);
}
.portfolio__text:hover{
 transform: scale(1.1);
}
/*footer*/
.footer{
background: #111;
color: var(--clr-accent);
text-align:center;
padding: 2.5em 0;
}
.footer a {
    color: inherit;
    text-decoration: none;
}
.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover,
.social-list__link:hover{
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}
.social-list__item{
    margin: 0 .5em;
}
