:root{
    --ff-primary: Helvetica, Arial, sans-serif ;
    --ff-secondary: Trebuchet, Georgia, Garamond ;

    --fw-reg:300;
    --fw-bold:900;

    --clr-bg: #F1FFFA;
    --clr-dark: #464E47;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,25);
}

@media (min-width:800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
    
}

/*header and navigation*/
header{
    top: 0;
    padding:10px 0 0 25px;
    background-color:#CCFCCB ;
}

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

.nav__item{
    display: inline;
    justify-content:center;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    float: left;
}

.nav__list{
    
}

header nav ul li a{
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header nav ul li a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

.nav__resume{
    display: inline;
    float: right;
    padding: 50px;
}

body{
    background-color: #F1FFFA;
    background-size: cover;
}
/*Hero section*/
.hero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-cta{
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: #464E47;
    font-size: 18px;
    line-height: 1.2;
}

.hero-img{
  width: 300px;
  height: 305px;
  border: 3px solid #ccc;
  background: #eee;
  margin: 3.5%;
  padding: 15px 10px;
}
img {
    width: 300px;
    height: 305px; 
  }

.button1{
    background-color: #464E47;
    border: none;
    display: inline-block;
    padding: 15px 32px;
    color: white;
    margin: 2px;
    text-align: center;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F1FFFA;
    padding: 10px;
    gap: 50px 100px;
  }

  .grid-item {
    background-color: #F1FFFA;
    border: 1px ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 

.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Footer*/
.footer_item{
    display: inline;
    justify-content:center;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    float: left;
}